<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <div class="topnav" class="centered">
            <a href="{{ url_for('index') }}">Home</a>
            <a class="active" href="{{ url_for('articles') }}">Articles</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('submission') }}">Submissions</a>
        </div>
        {% for art in articles.keys() %}
            <li><a href="{{ articles[art] }}">{{ art }}</a></li>
        {% endfor %}
        <footer>&copy; Copyright 2024 IARF</footer>
    </body>
</html>