<!DOCTYPE html>
<html>
    <head>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/checkmark-png-25954-Windows.ico') }}">
    </head>
    <body>
        <div class="topnav" class="centered">
            <a href="{{ url_for('index') }}">Home</a>
            <a class="active" href="{{ url_for('articles') }}">Articles</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('submission') }}">Submissions</a>
            <a href="{{ url_for('ASBOT') }}">ASBOT</a>
        </div>
        <br>
        <md-block id="article" src="{{ url_for('static',filename=('articles/' + folder + '/' + fname)) }}">
            `{{ fname }}` was *not* found
        </md-block>
        <footer>&copy; Copyright 2024 IARF</footer>
    </body>
</html>