<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/checkmark-png-25954-Windows.ico') }}">
        <style>
            #centered{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('articles') }}">Articles</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('submission') }}">Submissions</a>
            <a class="active"href="{{ url_for('ASBOT') }}">ASBOT</a>
        </div>
        <h1 class="centered">What is ASBOT?</h1>
        <p class="centered">
            ASBOT (Aevum Secundī Bellī Orbis Terrārum) is a history of the Second World War written entirely in Latin (except citations, which are in English)
            <br>I aim for it to be one of the most complete histories of the war, drawing on a wide range of both primary and secondary sources.
            <br>The PDF below is free to read, download, and share under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 license</a>
            <br>Under the terms of this license, you are free to share this document, create derivative works, etc. so long as you attribute me or the IARF as creators,
            <br>license the derivative works under the same terms and conditions, and do not use this or any derivative works fo commercial purposes
            <br>(among other terms and conditions specified in the license).
        </p>
        <embed id="centered" src="{{url_for('static', filename='documents/unfinished.pdf')}}" width="1000" height="1100" type="application/pdf">
    </body>
</html>